<h6 class="m-2"><b>マイページ</b></h6>
<div class="container mt-4">
  <div class="border border-dark" style="height: 300px;">
    <table class="offset-2 mt-5">
      <tbody>
        <tr>
          <td style="width: 100px;"><b>名前</b></td>
          <td>
            <b><%= current_customer.name %></b>
            <button type="button" class="btn btn-outline-transparent" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i class="fa-solid fa-pen" style="color: #5375c6;"></i></button>
          </td>
        </tr>
        <tr>
          <td style="height: 60px;"><b>email</b></td>
          <td><b><%= current_customer.email %></b></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  test
</div>