<% if notes.nil? || notes.records.empty? %>
  <div class="d-flex justify-content-center align-items-center border p-1" style="width: 210px;height: 60px">投稿はありません</div>
<% else %>
  <div class="scroll-container card-container border" style: "width: 190px;">
    <% notes.each do |note| %>
      <div class="border-bottom">
        <!--選択済カードに色を付ける-->
        <% if session[:selected_notes_id]&.include?(note.id) %>
          <div class="highlighted-note"><%= render '/public/plans/card_selected', note: note %></div>
        <% else %>
          <%= render '/public/plans/card', note: note %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
