// ----topページ、note_new----
  // card
#infowindow_icon {
  cursor: pointer;
}

  // top
.container-note-index {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: 600px; /* 表示する高さ */
  overflow-y: auto; /* 縦方向にのみスクロール */
  padding-left: 40px;
}

.container-note-index_null {
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 1rem;
  margin-top: 1rem;
}

// ブロックを縦横に並べる
.row-note-index {
  display: flex;
  flex-wrap: wrap;
}

/* スクロールバー全体のスタイル */
.container-note-index::-webkit-scrollbar {
  width: 7px; /* スクロールバーの幅 */
}

/* スクロールバーのトラック部分のスタイル */
.container-note-index::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* トラック部分の背景色 */
}

/* スクロールバーのハンドル部分（つまみ）のスタイル */
.container-note-index::-webkit-scrollbar-thumb {
  background-color: #888; /* ハンドル部分の背景色 */
  border-radius: 5px; /* ハンドル部分の角丸 */
}

/* スクロールバーのハンドル部分がホバーしたときのスタイル */
.container-note-index::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.button-note_new-tag {
  margin: 5px;
  padding: 5px;
  background-color: #98EECC;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.suggestions-container {
  position: absolute;
  top: 100%;
  left: 15px;
  width: 100%;
  max-height: 600px;
  overflow-y: auto;
  z-index: 1000; /* 他の要素より手前に表示 */
  background-color: white;
  outline: 1px solid #000000;
  outline-offset: -1px;
}

.suggestions-container:empty {
  border: none;
}

.suggestion-tag:hover {
  background-color: #D0F5BE;
}

// ----index----
.card_notes {
  background-color: #D0F5BE;
}

.card_notes:hover {
  background-color: #afeeee;
  transition: background-color 0.5s; /* 背景色の変化を～秒かけてアニメーションする */
}