// 選択したnoteカードに色を付ける
.highlighted-note {
  background-color: #fffacd;
}

// confirmページ
.scroll-plan-confirm-selected {
  max-height: 500px;
}

// indexページ
.scroll-plan-index {
  width: 1100px;
}

.card-color {
  background-color: #FBFFDC;
}

.plan-name-container{
    width: 240px;
    overflow: hidden;
    white-space: nowrap;
  }

.plan-card {
  background-color: #D0F5BE;
}

.plan-card:hover {
  background-color: #98EECC;
  transition: background-color 0.5s; /* 背景色の変化を～秒かけてアニメーションする */
}