// 選択したnoteカードに色を付ける
.highlighted-note {
  background-color: #fffacd;
}

// block要素のスクロール
.scroll-container-selected {
  max-height: 500px;
  width: 210px;
  overflow-y: auto;
}
/* スクロールバー全体のスタイル */
.scroll-container-selected::-webkit-scrollbar {
  width: 7px; /* スクロールバーの幅 */
}

/* スクロールバーのトラック部分のスタイル */
.scroll-container-selected::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* トラック部分の背景色 */
}

/* スクロールバーのハンドル部分（つまみ）のスタイル */
.scroll-container-selected::-webkit-scrollbar-thumb {
  background-color: #888; /* ハンドル部分の背景色 */
  border-radius: 5px; /* ハンドル部分の角丸 */
}

/* スクロールバーのハンドル部分がホバーしたときのスタイル */
.scroll-container-selected::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}