<%= link_to note_path(note), style: "color: black;" do %>
  <div class="border p-1" style="max-width: 200px;">
    <b><%= note.title %></b><br>
    <font size="2">
      <div class="d-inline-block px-2 border border-secondary rounded-pill"><%= note.prefecture %></div>
      <div class="d-inline-block px-2 border border-secondary rounded-pill"><%= note.city %></div>
    </font>
  </div>
<% end %>