<div class="border"  style="max-width: 200px;">
  <b><%= note.title %></b><br>
  <font size="1">
    <div class="d-inline-block px-2 border border-secondary rounded-pill"><%= note.city %></div>
    <div class="d-inline-block px-2 border border-secondary rounded-pill"><%= note.prefecture %></div>
  </font>
</div>