
<div class="container-fluid mt-3">
  <div class="row">
    <!--左サイド-->
    <div class="col-md-2">test</div>
    <!--中央-->
    <div class="col-md-8">
      <%= render '/public/homes/map' %>
    </div>
    <!--右サイド-->
    <div class="col-md-2">test</div>
  </div>
</div>