<div class="container mt-3">
  <h1>About</h1>
    <a>管理者ページでは以下のことができます。</a>
    <ul>
      <li>投稿ユーザーの管理</li>
        <ol>
          <li>ユーザーの削除・有効化</li>
        </ol>
      <li>投稿データの管理</li>
        <ol>
          <li>投稿の削除・有効化</li>
        </ol>
    </ul>
</div>