<% if notes.nil? || notes.empty? %>
  <div class="container-note-index container-note-index_null">投稿はありません</div>
<% else %>
  <div class="container-note-index mt-3">
    <div class="row-note-index">
      <% notes.each do |note| %>
        <div class="border rounded m-1 card_notes">
          <%= render '/public/notes/card', note: note %>
        </div>
      <% end %>

<script>
  // タグコンテナ内のタグ要素を取得
  const tagContainer = document.querySelector('.tag-container');
  const tags = tagContainer.querySelectorAll('.tag');

  // タグ要素の幅を確認して省略表示
  let totalWidth = 0;
  tags.forEach(tag => {
    totalWidth += tag.offsetWidth;
  });

  if (totalWidth > tagContainer.offsetWidth) {
    tagContainer.classList.add('ellipsis');
  }

  // 指定した投稿に対応するマーカーをフォーカス
  function forcus_infowindow(note_id) {
    const marker_data = <%= raw @marker_data&.map { |note| { id: note.id, title: note.title, lat: note.latitude, lng: note.longitude } }.to_json %>
    const targetMarker = marker_data.find(marker => marker.id === note_id);
    // map.setCenter({lat: targetMarker.lat, lng: targetMarker.lng});
    markerOpen(targetMarker.id);
  }

  // マーカーのインフォウィンドウ表示
  let before_marker_id = -1
  function markerOpen(marker_id) {
    if(before_marker_id !== -1){
      infowindow[before_marker_id].close()
    }
    infowindow[marker_id].open(map, marker[marker_id]);
    before_marker_id = marker_id
  }

</script>

    </div>
  </div>
<% end %>

