<div class="container">
  <!--検索フォーム-->
  <div class="mt-2 ml-4 p-2">
    <%= form_tag(notes_path, method: "get") do %>
      <%= text_field_tag(:search, params[:search], placeholder: "キーワードを入力", size: 30) %>
      <%= submit_tag("検索") %>
    <% end %>
  </div>

  <!--投稿一覧表示-->
  <div class="container-note-index mt-3">
    <div class="row-note-index">
      <% @notes.each do |note| %>
        <div class="border rounded m-1 card-onmouse">
          <%= render '/public/notes/card', note: note %>
        </div>
      <% end %>
    </div>
  </div>
</div>